*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../public/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('../public/fonts/OpenSans-SemiBold.ttf');
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../public/fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'OpenSansMedium';
    src: url('../public/fonts/OpenSans-Medium.ttf');
}

:root {
    --blue-color: #1F41BB;
    --black-color: #000000;
    --white-color: #FFFFFF;
}