@import url('./base.css');

.page-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../public/images/Ellipse.png');
    background-repeat: no-repeat;
    background-position: top right;
}

.form .form-title {
    font-family: 'OpenSansBold', sans-serif;
    font-size: 30px;
    color: var(--blue-color);
    text-align: center;
    margin-bottom: 30px;
}

.form .form-text {
    font-family: 'OpenSansSemiBold', sans-serif;
    font-size: 20px;
    color: var(--black-color);
    text-align: center;
    max-width: 300px;
    margin-bottom: 30px;
}

.form .wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-input {
    font-family: 'OpenSansMedium', sans-serif;
    font-size: 16px;
    color: var(--black-color);
    padding: 15px;
    height: 54px;
    border-radius: 10px;
    border: 1px solid var(--blue-color);
    background-color: #F1F4FF;
    outline: 0;
    transition: .3s;
}

.form-input::placeholder {
    color: #494949;
}

.form-input:focus {
    box-shadow: 0 10px 20px #CBD6FF;
}

.form-button {
    font-family: 'OpenSansSemiBold', sans-serif;
    font-size: 15px;
    color: var(--white-color);
    height: 50px;
    background-color: var(--blue-color);
    border-radius: 10px;
    border: 1px solid transparent;
    outline: 0;
    cursor: pointer;
    transition: .3s;
}

.form-button:hover {
    background-color: #3c5fde;
}

.form-button:active {
    transform: scale(.95);
}

.form-more-text {
    font-family: 'OpenSansSemiBold', sans-serif;
    text-align: center;
    color: var(--black-color);
    margin-top: 30px;
}

.form-link {
    color: inherit;
}

.form-link:hover {
    text-decoration: none;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .user {
    font-family: 'OpenSansSemiBold', sans-serif;
    font-size: 20px;
    color: var(--black-color);
}

.header .logout {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.form-search {
    display: flex;
    align-items: center;
}

.form-search .form-input {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-search .form-button {
    min-width: 200px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 54px;
}

.form-search .form-button:active {
    transform: unset;
}

@media screen and (max-height: 600px) {
    .page-form {
        height: unset;
        width: unset;
    }

    .form {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 375px) {
    .form {
        padding-right: 15px;
        padding-left: 15px;
    }
}