<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>MedPortal</title>
</head>
<body class="page-form">
    <form class="form login-form">
        <h1 class="form-title">Авторизация</h1>
        <p class="form-text">Добро пожаловать обратно, мы скучали по вам!</p>
        <div class="wrapper">
            <input type="email" id="email" placeholder="Электронная почта" class="form-input form-email">
            <input type="password" id="password" placeholder="Пароль" class="form-input form-password">
            <button class="form-button" type="button">Войти</button>
        </div>
        <p class="form-more-text">Нет аккаунта? <a href="register.html" class="form-link">Создать</a></p>
    </form>
</body>
</html>